<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Recording app</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
      {% include 'navbar.html' %}
        <br>
      <div class="container">
      	{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
	  {% endwith %}
      	<h1>Recording section</h1>
      <div class="card">
			  <div class="card-body">
			  	{% if check %}
			    <a href="{{url_for('start',check='start')}}" type="button" class="btn btn-primary btn-lg btn-block " >Click here to start recording</a>
			  </div>
			  {% else %}
			        {% if txt %}
			         <h5>{{txt}}</h5>
			        {% else %}
			  		<h5>Recording is going on for 60 seconds and when it stop check the recordedvideo folder you will find the recorded video.if you want to record it again then click on the StartRecording button which is on navbar</h5><br>
                   <center><img src="{{url_for('record')}}"></center>
                   {% endif %}
			  {% endif %}
			  {{send}}
	  </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>